backend/node_modules
backend/build
backend/yarn-error.log
backend/yarn.lock
!backend/.var.*.yaml
backend/output-files
.vs

# compiled output
frontend/dist
frontend/tmp
frontend/out-tsc
# Only exists if Bazel was run
frontend/bazel-out

# dependencies
frontend/node_modules

# profiling files
frontend/chrome-profiler-events*.json
frontend/speed-measure-plugin*.json

# misc
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/npm-debug.log
frontend/yarn-error.log
frontend/testem.log
frontend/typings
